{% extends 'base.html' %}

{% block content %}

<div id="booking" class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-md-push-5">
          <div class="booking-cta">
            <h1>{{book_parking.address}}</h1>
            <h1>${{book_parking.price}}</h1>
            <h2><strong>Availability</strong></h2>
            <p>Start Date: {{ book_parking.start_date}} @ {{ book_parking.start_hour}}:{{ book_parking.start_min}} {{ book_parking.start_ampm}}</p>
            <p>End Date: {{ book_parking.end_date}} @ {{ book_parking.end_hour}}:{{ book_parking.end_min}} {{ book_parking.end_ampm}}</p>
            <p>{{book_parking.description}}</p>
            <h2><strong>Contact</strong></h2>
            <p>Name: {{book_parking.name}}</p>
            <p>Email: {{book_parking.email}}</p>
            <p>Phone: {{book_parking.phone}}</p>

          </div>
        </div>
        <div class="col-md-4 col-md-pull-7">
          <div class="booking-form" style="width:420px">
            <form method='POST' action='/confirmation'>
              <div class="form-group">
                <span class="form-label">Your Name</span>
                <input class="form-control" name="name" type="text" placeholder="John Doe">
              </div>
              <div class="form-group">
                <span class="form-label">Your Car Details</span>
                <input class="form-control" name="car" type="text" placeholder="Year / Make / Model">
              </div>
              <div class="form-group">
                <span class="form-label">Liscence plate</span>
                <input class="form-control" name="car_plates" type="text" placeholder="Liscence plate">
              </div>
              <span class="form-label">Start Parking</span>
              <div class="row">
                <div class="col-sm-5">
                  <div class="form-group">
                    <span class="form-label">Date</span>
                    <input class="form-control" name="start_date" type="date"   required>
                  </div>
                </div>
                <div class="col-sm-7">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <span class="form-label">Hour</span>
                        <select class="form-control" name="start_hour" >
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                          <option>9</option>
                          <option>10</option>
                          <option>11</option>
                          <option>12</option>
                        </select>
                        <span class="select-arrow"></span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <span class="form-label">Min</span>
                        <select class="form-control" name="start_min" >
                          <option>05</option>
                          <option>10</option>
                          <option>15</option>
                          <option>20</option>
                          <option>25</option>
                          <option>30</option>
                          <option>35</option>
                          <option>40</option>
                          <option>45</option>
                          <option>50</option>
                          <option>55</option>
                        </select>
                        <span class="select-arrow"></span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <span class="form-label">AM/PM</span>
                        <select class="form-control" name="start_ampm" >
                          <option>AM</option>
                          <option>PM</option>
                        </select>
                        <span class="select-arrow"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <span class="form-label">End Parking</span>
              <div class="row">
                <div class="col-sm-5">
                  <div class="form-group">
                    <span class="form-label">Date</span>
                    <input class="form-control" name="end_date" type="date"  required>
                  </div>
                </div>
                <div class="col-sm-7">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <span class="form-label">Hour</span>
                        <select class="form-control" name="end_hour"  text='2'>
                          <option value="1" >1</option>
                          <option value="2" >2</option>
                          <option value="3" >3</option>
                          <option value="4" >4</option>
                          <option value="5" >5</option>
                          <option value="6" >6</option>
                          <option value="7" >7</option>
                          <option value="8" >8</option>
                          <option value="9" >9</option>
                          <option value="10" >10</option>
                          <option value="11" >11</option>
                          <option value="12" >12</option>
                        </select>
                        <span class="select-arrow"></span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <span class="form-label">Min</span>
                        <select class="form-control" name="end_min" >
                          <option>05</option>
                          <option>10</option>
                          <option>15</option>
                          <option>20</option>
                          <option>25</option>
                          <option>30</option>
                          <option>35</option>
                          <option>40</option>
                          <option>45</option>
                          <option>50</option>
                          <option>55</option>
                        </select>
                        <span class="select-arrow"></span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <span class="form-label">AM/PM</span>
                        <select class="form-control" name="end_ampm" >
                          <option>AM</option>
                          <option>PM</option>
                        </select>
                        <span class="select-arrow"></span>
                      </div>
                    </div>
                  </div>
                </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <span class="form-label">Type</span>
                    <select class="form-control" name="car_type">
                      <option>Sedan</option>
                      <option>Coupe</option>
                      <option>SUV</option>
                      <option>Truck</option>
                      <option>Bus</option>
                    </select>
                    <span class="select-arrow"></span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <span class="form-label">Color</span>
                    <select class="form-control" name="car_color">
                      <option>Black</option>
                      <option>White</option>
                      <option>Red</option>
                      <option>Green</option>
                      <option>Grey</option>
                      <option>Silver</option>
                    </select>
                    <span class="select-arrow"></span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <span class="form-label">Referral</span>
                    <select class="form-control" name="referral">
                      <option>Online</option>
                      <option>Friend</option>
                      <option>School</option>
                      <option>Business</option>
                    </select>
                    <span class="select-arrow"></span>
                  </div>
                </div>
              </div>
              <div class="form-btn">
                <button class="submit-btn">Check availability</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
